<%- include('partials/header')%>
<section>
    <div class="bg-container">
        <div class="para">
            <h1>KBA Men's Hostel: Providing a Welcoming Atmosphere for Students with Comfort, Convenience, and a Supportive Community for a Great Stay</h1>
            <p>18-20, DEC 2024, BSA CRESCENT IST, Tamil Nadu, India</p>
            <p class="running-letters">
                <!-- <marquee><b>The accepted papers, presented by the duly registered authors in 
                    <img src="http://icianitjsr.in/img/ICIA2024.png" alt="conf logo" width="130">, 
                    are expected to be published in 
                    <img src="https://www.google.com/imgres?q=IEEE%20xplore&imgurl=https%3A%2F%2Fsubscriptions.ieee.org%2Fwp-content%2Fuploads%2F2022%2F12%2FIEEE-Xplore.svg&imgrefurl=https%3A%2F%2Fsubscriptions.ieee.org%2Findia%2Fprofiles%2Fstudents%2F&docid=6KKEnA3YfrQeUM&tbnid=42qNfcaoD76mAM&vet=12ahUKEwiktLS_8PCEAxUt2DgGHTwVAdAQM3oECBMQAA..i&w=800&h=362&hcb=2&ved=2ahUKEwiktLS_8PCEAxUt2DgGHTwVAdAQM3oECBMQAA" alt="Springer logo" width="130"> 
                    (Scopus Indexed) proceedings</b></marquee> -->
                    <marquee><b>Welcome to KBA Men's Hostel, where comfort meets convenience! Our hostel is equipped with modern amenities, spacious rooms, 24/7 security, high-speed Wi-Fi, and nutritious meals. Experience a homely atmosphere with a focus on student well-being and academic success. Book your stay at KBA Men's Hostel today and enjoy a hassle-free living experience!</b></marquee>

            </p>
    
            <!-- <a href="https://www.youtube.com/watch?v=ERHPw_OaVI4" class="video-btn" data-vbtype="video" data-autoplay="true"></a>
            <a href="#about" class="about-btn">About The Event</a> -->
        </div>
    
        <!-- Slideshow -->
        <div class="slideshow-container">
            <div class="slide fade">
                <img src="/images/hostel-image1.jpg" alt="Slideshow Image 1">
            </div>
            <div class="slide fade">
                <img src="/images/hostel-image2.jpg" alt="Slideshow Image 2">
            </div>
            <div class="slide fade">
                <img src="/images/hostel-image3.jpg" alt="Slideshow Image 3">
            </div>
        </div>
    </div>
    
</section> 
<%-include('partials/footer')%>