<%- include('partials/header')%>
<section class="services" id="services">

    <h1 class="heading">Book <span> services</span></h1>
    
    <div class="box-container">
        <div class="box">
            <img src="images/housekeeping.png" alt="">
            <h3><a href="/maintenance/housekeeping">housekeeping</a></h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sed impedit.</p> -->
             
        </div>

        <div class="box">
            <img src="images/electricalwork.jpg" alt="">
            <h3><a href="/maintenance/electricalworks">Electrical works</a></h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sed impedit.</p> -->
             
        </div>

        <div class="box">
            <img src="images/carpentary.png" alt="">
            <h3><a href="/maintenance/carpentryworks">carpentry works</a></h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sed impedit.</p> -->
             
        </div>

    </div>

</section>

<%- include('partials/footer')%>